<nav class="navbar navbar-default bootsnav  navbar-sticky navbar-scrollspy"  data-minus-value-desktop="70" data-minus-value-mobile="55" data-speed="1000">



  <div class="container">
    <div class="attr-nav">
      <ul>
        <li class="search">
          <a href="#"><span class="lnr lnr-magnifier"></span></a>
        </li>
        <li class="nav-setting">
          <a href="#"><span class="lnr lnr-cog"></span></a>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" >
            <span class="lnr lnr-cart"></span>
            <span class="badge badge-bg-1">2</span>
          </a>
          <ul class="dropdown-menu cart-list s-cate">

          </ul>
        </li>
      </ul>
    </div>

    <div class="navbar-header">
      <a class="navbar-brand" href="index.html">E<span>com</span>.</a>
    </div>



    <div class="collapse navbar-collapse menu-ui-design" id="navbar-menu">
      <ul class="nav navbar-nav navbar-center" data-in="fadeInDown" data-out="fadeOutUp">
        <li class=" scroll active"><a style="cursor: pointer" (click)="onHome()">home</a></li>
        <li class="scroll"><a style="cursor: pointer" (click)="onProducts()">Products</a></li>
        <li class="scroll"><a style="cursor: pointer" (click)="onAddProduct()">AddProducts</a></li>
      </ul>
    </div>

  </div>
</nav>
